body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

#display {
    font-size: 1.5em;
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: bold;
    
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    font-size: 1.2em;
    padding: 15px;
    border: none;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}
